#container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
  background-color:  #faefff;;
}
#upload{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed #ccc;
    padding: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.example-full-width {
  width: 100%;
}
.music-list{
  border-bottom: hotpink 2px solid;
}
.music-list button{
  color: black;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.music-list-content{
  display: flex;
}
#music-container{
  width: 400px;
  max-height: 650px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

