<div id="container">
  <form [formGroup]="musicFormGroup">
    <div id="upload">
      <h5>UPLOAD YOUR MUSIC HERE</h5>
      <mat-form-field class="example-full-width">
        <mat-label>ID</mat-label>
        <input matInput readonly type="text" placeholder="id" formControlName="id">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Song Title</mat-label>
        <input matInput type="text" placeholder="Title" formControlName="title"/>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Song Artist</mat-label>
        <input matInput type="text" placeholder="artist" formControlName="artist"/>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Singer</mat-label>
        <input matInput type="text" placeholder="singer" formControlName="singer"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select a Category</mat-label>
        <mat-select  formControlName="category">
          <mat-option>None</mat-option>
          <mat-option value="Pop">Pop</mat-option>
          <mat-option value="Pop">Pop</mat-option>
          <mat-option value="Chill">Chill</mat-option>
          <mat-option value="R&B">R&B</mat-option>
          <mat-option value="Party">Party</mat-option>
          <mat-option value="HipHop&Rap">HipHop&Rap</mat-option>
          <mat-option value="Electronic">Electronic</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker"  formControlName="publishedDate" placeholder="MM/DD/YYYY">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput readonly type="text" formControlName="mp3"/>
      </mat-form-field>
      <input type="file" accept="audio/*" (change)="onSongFile($event)"/>
      <mat-form-field class="example-full-width">
        <input matInput readonly type="text" formControlName="image">
      </mat-form-field>
      <input type="file" accept="image/*" (change)="onImgFile($event)"/>
      <div class="example-button-row">
        <button mat-flat-button (click)="postData()">Upload</button>
      </div>
    </div>
  </form>
  <div id="music-list">
    <h5>LIST OF MUSIC</h5>
    <div id="search-bar">
      <mat-form-field class="example-full-width">
        <mat-label>Search Music</mat-label>
        <input matInput type="text" [(ngModel)]="searchTerm" (input)="searchMusic()">
      </mat-form-field>
    </div>
    <div id="music-container">
      @for (music of musics;track $index){
        <div class="music-list-content">
        <div class="music-list">
          <h6>{{music.title}}</h6>
          <p>Nhạc Sĩ: {{music.artist}}</p>
          <p>Ca Sĩ: {{music.singer}}</p>
          <audio controls>
            <source [src]="music.mp3" type="audio/mpeg">
          </audio>
        </div>
        <div class="music-list">
          <button mat-button (click)="getMusicById(music.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button (click)="deleteMusicById(music.id)">
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
      </div>
    </div>
      }
    </div>
</div>
</div>
